[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djoser = "*"
django-filter = "*"
django-rest-framework = "*"
drf-spectacular-sidecar = "*"
drf-spectacular = "*"
python-dotenv = "*"
django-extensions = "*"
psycopg2-binary = "*"
pandas = "*"
boto3 = "*"
django-storages = "*"
beautifulsoup4 = "*"
torch = "*"
torchvision = "*"
scikit-learn = "*"
pillow = "*"
pymupdf = "*"
celery = "*"
daphne = "*"
redis = "*"
pywebpush = "*"
channels = "*"
channels-redis = "*"
cloudscraper = "*"

[dev-packages]

[requires]
python_version = "3.9"
