#tree-grid > div{
    background-color: white;
    padding: 0.75rem;
    border-radius: 0.75rem;
}

#treeModal {
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px); /* For Safari */
}

.detail-container{
    min-width: 8rem;
}

.detail-container > div{
    color: #718096;
}

.tree-container > div > img{
    min-width: 6rem;
}

.tree-container{
    margin-bottom: 1rem;
}

@media (width < 767px) and (min-width:500px){
    .tree-container{
        margin-left: 4rem;
        margin-right: 4rem;
        flex-direction: row;
    }
}

.sentro{
    display: flex;
    justify-content: center;
}